Source: tightvnc
Maintainer: Debian Remote Maintainers <debian-remote@lists.debian.org>
Uploaders: Sven Geuer <debmaint@g-e-u-e-r.de>,
Section: x11
Priority: optional
Build-Depends: debhelper-compat (= 13),
               dh-exec,
               libjpeg-dev,
               libx11-dev,
               libxau-dev,
               libxaw7-dev (>> 4.1.0),
               libxext-dev,
               libxi-dev,
               libxkbfile-dev,
               libxmu-dev,
               libxt-dev,
               lynx,
               x11proto-core-dev,
               xfonts-base,
               zlib1g-dev,
Standards-Version: 4.6.2
Rules-Requires-Root: no
Vcs-Browser: https://salsa.debian.org/debian-remote-team/tightvnc
Vcs-Git: https://salsa.debian.org/debian-remote-team/tightvnc.git
Homepage: https://www.tightvnc.com

Package: tightvncserver
Architecture: any
Provides: vnc-server,
          xserver,
Depends: tightvncpasswd (>= 1:1.3.10-7),
         x11-common | xserver-common,
         x11-utils,
         xauth,
         ${misc:Depends},
         ${perl:Depends},
         ${shlibs:Depends},
Recommends: x11-xserver-utils,
            xfonts-base,
Suggests: tightvnc-java,
Description: virtual network computing server software
 VNC stands for Virtual Network Computing. It is, in essence, a remote
 display system which allows you to view a computing `desktop' environment
 not only on the machine where it is running, but from anywhere on the
 Internet and from a wide variety of machine architectures.
 .
 This package provides a server to which X clients can connect and the
 server generates a display that can be viewed with a vncviewer.
 .
 The difference between the tightvncserver and the normal vncserver is the
 data encoding, optimized for low bandwidth connections. If the client do not
 support jpeg or zlib encoding it can use the default one. Later versions of
 vncserver (> 3.3.3r2) support a new automatic encoding that should be equally
 good as the tightvnc encoding.
 .
 Note: This server does not support or need a display. You need a vncviewer to
 see something. However, this viewer may also be on a computer running other
 operating systems in the local net.

Package: xtightvncviewer
Architecture: any
Provides: vnc-viewer,
          vncviewer,
Depends: ${misc:Depends},
         ${shlibs:Depends},
Recommends: tightvncpasswd (>= 1:1.3.10-7),
            xfonts-base,
Suggests: ssh,
          tightvncserver,
Description: virtual network computing client software for X
 VNC stands for Virtual Network Computing. It is, in essence, a remote
 display system which allows you to view a computing `desktop' environment
 not only on the machine where it is running, but from anywhere on the
 Internet and from a wide variety of machine architectures.
 .
 It is implemented in a client/server model. This package provides a client
 for X, with this you can connect to a vncserver somewhere in the network
 and display its content in a window. There are vncserver available for other
 operating systems.
 .
 The difference between the xtightvncviewer and the normal vncviewer is the
 data encoding, optimized for low bandwidth connections. If the client do not
 support jpeg or zlib encoding it can use the default one. Later versions of
 xvncviewer (> 3.3.3r2) support a new automatic encoding that should be equally
 good as the tightvnc encoding.

Package: tightvncpasswd
Architecture: any
Depends: ${misc:Depends},
         ${shlibs:Depends},
Replaces: tightvncserver (<< 1:1.3.10-7)
Breaks: tightvncserver (<< 1:1.3.10-7)
Description: virtual network computing password tool
 VNC stands for Virtual Network Computing. It is, in essence, a remote
 display system which allows you to view a computing `desktop' environment
 not only on the machine where it is running, but from anywhere on the
 Internet and from a wide variety of machine architectures.
 .
 This package provides the vncpasswd tool mandatory for the tightvncserver
 and optional for the xtightvncviewer.
